<h1>Nuevo Departamento</h1>
<p>
    <a asp-controller"Departamentos" asp-action="Index">Back To Index</a>
</p>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Localidad: </label>
    <input type="text" name="localidad" class="form-control" />
    <button class="btn btn-outline-dark">
        Insertar Departamento
    </button>
</form>

